$color-principal: #312124;
$color-fondo: #eee5e9;
$color-blanco: #f8f9fa;
$fuente-titulos: "League Spartan", sans-serif;
$fuente-base: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;