@use '../utilities/variables' as *;
@use '../utilities/mixins' as *;

.cards_div {
    text-align: center;
    padding: 15px;
    border-radius: 10px;
}

.cards_img {
    width: 300px;
    max-width: 100%;
    display: block;
    margin: 0 auto;
    border-radius: 20px;
}

/* Pag contacto */
.contenedor-palermo {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 0px;

    .columna-contenido {
        flex: 1;
        min-width: 350px;
        padding: 80px 60px;
        display: flex;
        flex-direction: column;
        justify-content: center;

        .seccion-texto {
            margin-bottom: 50px;

            h2 {
                margin-bottom: 30px;
            }

            .item-linea {
                margin-bottom: 20px;

                p {
                    display: flex;
                    justify-content: space-between;
                    margin-bottom: 5px;
                    color: $color-principal;
                }

                hr {
                    border: 0;
                    border-top: 1px solid $color-principal;
                    width: 100%;
                }
            }
        }
    }

    .columna-imagen {
        flex: 1.2;
        min-width: 350px;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            display: block;
        }
    }
}

.mapa_contacto {
    padding-bottom: 0px;
}