@use '../utilities/variables' as *;
@use '../utilities/mixins' as *;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: $fuente-base;
    background-color: $color-fondo;
    color: $color-principal;
    font-size: 20px;
}

section {
    padding: 60px 20px;
}

h1,
h2 {
    font-family: $fuente-titulos;
    font-weight: 700;
}


h3 {
    font-size: 23px;
    font-weight: 600;
    text-align: center;
    padding: 10px;
}

a {
    color: inherit;
    text-decoration: none;
}

p {
    @include celular {
        font-size: 14px; 
    }
}

h2{ @include celular {
        font-size: 50px; 
    }
}